/*******************
** ESTILOS GERAIS **
********************/

:root {
    --primary-color: #FFFFFF;
    --second-color: #bb2a2a;
    --third-color: #000000;
    --fourth-color: #00000029;
    --five-color: #ffe3e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Helvetica Neue', sans-serif;
}

.container {
    width: 1500px;
    margin: 0 auto;
    height: 2444px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid var(--third-color);
    background-color: var(--five-color);
}

/******************
** FIRST SECTION **
******************/

.first-section {
    height: 399px;
    background-color: var(--second-color);
    position: relative;
}

.first-section .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 69px;
    max-height: 282px;
}

.first-section .content .first-h2 {
    font-size: 30px;
    height: 35px;
    color: var(--primary-color);
}

.first-section .content .first-h1 {
    font-size: 30px;
    height: 35px;
    color: var(--primary-color);
    margin-bottom: 24px;
}

.first-section .content .first-p {
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 400;
    letter-spacing: 0px;
}

.first-section .content .div-list {
    width: 760px;
}

.first-section .content .div-list .list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    height: 100%;
}


.first-section .content .div-list .list li {
    background-color: var(--primary-color);
    list-style: none;
    text-align: center;
    padding: 10px 12px 12px 12px;
    width: 160px;
    height: 40px;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0 var(--fourth-color);
}

.first-section .content .div-list .list a {
    color: var(--third-color);
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}


.first-section #triangulo {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 130px solid var(--five-color);
    border-left: 0px solid transparent;
    border-right: 1500px solid transparent;
    bottom: 0;
}



/*******************
** SECOND SECTION **
*******************/



.container .second-section {
    display: flex;
    justify-content: center;
    align-items: start;
    max-height: 310px;
    margin-top: 21px;
}

.container .second-section .text {
    width: 520px;
    margin-right: 60px;
    margin-bottom: 40px;
}

.container .second-section .text .h1-second {
    width: 332px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    color: var(--third-color);
}

.container .second-section .text .p-second {
    font-size: 12px;
    font-weight: 500;
    color: var(--third-color);
    letter-spacing: 0px;
    text-align: left;
    line-height: 18px;
    padding: 0px 0px 4px;
}

.container .second-section #form-data .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 340px;
    height: 227px;
}

.container .second-section #form-data .form label {
    font-size: 12px;
    line-height: 14px;
    width: 100%;
    color: var(--third-color);
}

.container .second-section #form-data .form input {
    height: 30px;
    padding: 5px 10px;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 2px;
}

.container .second-section #form-data .form #sex {
    width: 340px;
    height: 18px;
    position: relative;
}

.container .second-section #form-data .form #sex input {
    width: 14px;
    height: 14px;
    position: absolute;
    top: -2px;
}

.container .second-section #form-data .form #sex label {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
    line-height: 18px;
}

.container .second-section #form-data .form #sex #erro-sex {
    display: inline-block;
    width: 320px;
}

.container .second-section #form-data .button-form {
    margin-top: 23px;
    width: 100%;
    height: 39px;
    font-size: 15px;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    color: var(--third-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.container .second-section .thank-you {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    width: 340px;
    height: 227px;
}

.container .second-section .thank-you .h1-thanks {
    color: var(--second-color);
    font-size: 16px;
    text-align: center;
}

.container .second-section .thank-you .icon {
    width: 24px;
    height: 24px;
}



/****************
** FORM ERRORS **
****************/



.inputError {
    border: 1px solid red;
}

.erro {
    color: red;
}

#erro-sex {
    font-size: 12px;
}



/******************
** THIRD SECTION **
******************/



.container .third-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 71px;
    margin-bottom: 114px;
}

.container .div-line-third {
    position: absolute;
    width: 920px;
    border: 1px solid var(--second-color);
    top: 9px;
}

.container .third-section .h1-third {
    color: var(--third-color);
    font-size: 18px;
    width: 220px;
    background-color: var(--five-color);
    z-index: 1;
    text-align: center;
}

.container .third-section .gallery-products {
    margin-top: 50px;
    width: 930px;
    height: 740px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container .third-section .gallery-products .productApi {
    width: 201px;
    height: 350px;
    color: var(--third-color);
    text-align: start;
}

.container .third-section .gallery-products .productApi #product-image {
    border: 1px solid var(--second-color);
    width: 200px;
    height: 150px;
    margin-bottom: 14px;
}

.container .third-section .gallery-products .productApi #product-image #image {
    width: 197px;
    height: 147px;
}

.container .third-section .gallery-products .productApi #product-info #name {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.container .third-section .gallery-products .productApi #product-info #description {
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 12px;
    letter-spacing: 0px;
}

.container .third-section .gallery-products .productApi #product-info #old-price {
    display: block;
    font-size: 12px;
    margin-bottom: 6px;
}

.container .third-section .gallery-products .productApi #product-info #price {
    font-size: 16px;
    margin-bottom: 7px;
}

.container .third-section .gallery-products .productApi #product-info #installments {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

.container .third-section .gallery-products .productApi #product-info #button-buy {
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding: 4px;
    color: var(--third-color);
    background-color: var(--primary-color);
    border: 1px solid var(--second-color);
    border-radius: 5px;
    cursor: pointer;

}

.container .third-section #next-page {
    margin-top: 51px;
    width: 260px;
    height: 39px;
    font-size: 16px;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    text-align: center;
    background-color: var(--primary-color);
    cursor: pointer;
    padding: 10px;
    color: var(--third-color);
}

.container .third-section #link-next-page {
    display: block;
    width: 100%;
    height: 100%;
    color: var(--third-color);
    text-decoration: none;
    font-size: 15px;
}



/*******************
** FOURTH SECTION **
*******************/



.container .fourth-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 71px;
}

.container .fourth-section .h1-fourth {
    color: var(--third-color);
    font-size: 18px;
    width: 220px;
    background-color: var(--five-color);
    z-index: 1;
    text-align: center;
    margin-bottom: 44px;
}

.container .fourth-section .div-line-fourth {
    position: absolute;
    width: 920px;
    border: 1px solid var(--second-color);
    top: 9px;
}

.container .fourth-section .p-fourth {
    display: block;
    font-size: 16px;
    color: var(--third-color);
    font-weight: 400;
    letter-spacing: 0px;
}

.container .fourth-section #form-invite {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 39px;
}

.container .fourth-section #form-invite .inputs-invite {
    width: 720px;
    height: 51px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.container .fourth-section #form-invite .inputs-invite label {
    width: 340px;
    font-size: 12px;
    color: var(--third-color);
}

.container .fourth-section #form-invite .inputs-invite .invite-input {
    margin-top: 7px;
    width: 340px;
    height: 30px;
}

.container .fourth-section #form-invite #send-invite {
    width: 260px;
    height: 39px;
    font-size: 16px;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    text-align: center;
    background-color: var(--primary-color);
    cursor: pointer;
    padding: 10px;
    color: var(--third-color);
}

.container .fourth-section .invite-share {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    height: 140px;
    margin-bottom: 57px;
}

.container .fourth-section .invite-share .h1-invite {
    color: var(--second-color);
    font-size: 18px;
    text-align: center;
}

.container .fourth-section .invite-share .icon-invite {
    width: 28px;
    height: 28px;
}


/***********
** FOOTER **
***********/



.container #footer {
    position: relative;
    height: 293px;
    font-size: 12px;
    color: var(--primary-color);
    background-color: var(--second-color);
    width: 1498px;
}

.container #footer #triangulo {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 130px solid var(--five-color);
    border-right: 0px solid transparent;
    border-left: 1498px solid transparent;
    top: 0;
}

.container #footer .p-footer {
    text-align: center;
    position: absolute;
    margin-top: 157px;
    margin-left: 697px;
    width: 106px;
}